.max-vh-70 {
	max-height: 70vh !important;
}

.max-vh-70 img {
	transform: translateY(-175px);
}
.challenges {
	width: 50vw;
	height: 65vh;
}
.remote {
	width: 50vw;
	height: 65vh;
}

.interviews {
	width: 40vw;
	height: 45vh;
}
