a.Social-Link {
color: #17A2B8
}
/* a.Social-Link:link, a.Social-Link:visited {
  background-color: #17A2B8;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.Social-Link:hover, a.Social-Link:active {
  background-color: #17A2B8;
} */
